/* default ghanges */
*{
  margin: 0;
  padding: 0;
  background-color: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root{
  --first-bg-color: #0c1726;
  --secent-bg-color: #1f2937;
  --text-color: #ced1d8;
  --hover-color: #79e72f;
  --h2-font-size: 4vw;
  --normal-font-size: 1.1vw;
  --normal-line-height: 1.3vw;
}

body{
  height: 100%;
  width: 100%;
  background-color: var(--first-bg-color);
}

section {
  height: auto;
  padding: 70px 40px;
  color: var(--text-color);
}

section h2{
  font-size: var(--h2-font-size);
  text-align: center;
}

/* header section */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 15px;
  left: 30px;
  right: 30px;
  height: 40px;
  padding: 5px 10px;
  background-color: transparent;
  backdrop-filter: blur(1.5px);
  border-radius: 15px;
}

.portfolio{
  font-size: 1.5rem;
  color: var(--text-color);
}

header nav a {
  margin-left: 10px;
  color: var(--text-color);
  transition: 0.5s ease;
}

header nav a:hover{
  color: var(--hover-color);
}

/* home section */
.home{
  height: 100vh;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3px;
  align-items: center;
}

.home div .greetings {
  font-size: 4vw;
}

.home div h1 {
  font-size: 5.5vw;
}

.home div .description{
  margin-top: 20px;
  font-size: 2vw;
}

.my-photo-container {
  display: flex;
  justify-content: center;
}

.my-photo {
  width: 65%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px #6b7280;
}

/* about section */
.about{
  background-color: var(--secent-bg-color);
  text-align: center;
}

.about div{
  background-color: var(--first-bg-color);
  width: 60vw;
  margin-top: 50px;
  padding: 50px 5vw;
  border-radius: 15px;
  font-size: var(--normal-font-size);
  line-height: var(--normal-line-height);
  word-spacing: 5px;
  justify-self: center;
}

/* education section */
.education div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  background-color: var(--secent-bg-color);
  margin-top: 50px;
  padding: 50px 30px;
  width: 425px;
  height: 200px;
  border-radius: 15px;
  text-align: center;
}

.education div h3 {
  font-size: 2.6rem;
}

.education div p {
  font-size: 1.3rem;
  margin-top: 20px;
}

/* skills section */
.skills {
  background-color: var(--secent-bg-color);

}

.skills div{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin-top: 50px;
  
}

.skills div p {
  background-color: var(--first-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 20px;
  height: 150px;
  width: 150px;
  border-radius: 15px;
}

/* projects section */
.projects div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  background-color: var(--secent-bg-color);
  margin-top: 50px;
  padding: 50px 30px;
  width: 425px;
  height: 100px;
  border-radius: 15px;
  text-align: center;
  font-size: 1.5rem;
}

/* contact section */
.contact {
  background-color: var(--secent-bg-color);
}

.social-media-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  background-color: var(--first-bg-color);
  margin-top: 50px;
  padding: 50px 30px;
  width: auto;
  height: 100px;
  border-radius: 15px;
  font-size: 1.5rem;
}

.social-media-container h3 {
  font-size: 2.6rem;
}

.social-media-links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 20px;
}

.social-media-links a {
  font-size: 1.3rem;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.5s ease;
}

.social-media-links a:hover {
  color: var(--hover-color);
}

/* footer section */
footer {
  text-align: center;
  padding: 10px 0px;
}

footer p {
  color: var(--text-color);
}