/* default ghanges */
*{
  margin: 0;
  padding: 0;
  background-color: none;
  font-family: "Zalando Sans Expanded", Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  color: var(--text-color);
  scroll-behavior: smooth;
}

:root{
  --first-bg-color: #0c1726;
  --secent-bg-color: #1f2937;
  --text-color: #D2C1B6;
  --h3-text-color: #818FB4;
  --hover-color: #BED754;
  --secent-hover-color: #d0ff00;
  --active-nav-color: #5C8374;
  --border-color: #ced1d85f;
  --h2-font-size: 4rem;
  --normal-font-size: 1.2rem;
  --normal-line-height: 1.4rem;
  --max-width: 1200px;
}

body{
  height: 100%;
  width: 100%;
  background-color: var(--first-bg-color);
}

section {
  height: auto;
  padding: 90px 30px;
  color: var(--text-color);
}

section h2{
  font-size: var(--h2-font-size);
  text-align: center;
  color: #456882;
  text-shadow: 1px 1px 2px #93B1A6;
}

/* header section */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 15px;
  left: 30px;
  right: 30px;
  height: 40px;
  padding: 5px 10px;
  background-color: transparent;
  backdrop-filter: blur(3px);
  border-radius: 20px;
}

.portfolio{
  font-size: 1.5rem;
  color: var(--text-color);
}

header i {
  display: none;
  visibility: hidden;
}

header nav a {
  margin-left: 10px;
  color: var(--text-color);
  transition: 0.5s ease;
}

header nav a:hover{
  color: var(--hover-color);
}

.active-nav{
  color: var(--active-nav-color);
  font-weight: bold;
}

/* home section */
.home{
  height: 100vh;
  padding: 90px 10px 0px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3px;
  align-items: center;
}

.home div {
  text-align: center;
}

.home div .greetings {
  font-size: 4.5vw;
}

.home div h1 {
  font-size: 5vw;
  color: #234C6A;
  text-shadow: 2px 2px 2px #456882;
}

.home div .description{
  margin-top: 20px;
  font-size: 1.8vw;
}

.social-media-in-body {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 250px;
  margin-top: 20px;
  font-size: 1.5rem;
}

.social-media-in-body a i {
  color: var(--text-color);
  cursor: pointer;
  transition: 0.5s ease;
}

.social-media-in-body a i:hover {
  color: var(--secent-hover-color);
}

.my-photo-container {
  display: flex;
  justify-content: center;
}

.my-photo {
  width: 65%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px #234C6A;
}

/* about section */
.about{
  background-color: var(--secent-bg-color);
  text-align: center;
}

.about div{
  background-color: var(--first-bg-color);
  width: 1000px;
  margin-top: 50px;
  padding: 50px 5vw;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  font-size: var(--normal-font-size);
  line-height: var(--normal-line-height);
  word-spacing: 5px;
  justify-self: center;
  transition: 0.5s ease;
}

.about div:hover{
  transform: scale(1.01);
}

/* education section */
.education div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  background-color: var(--secent-bg-color);
  margin-top: 50px;
  padding: 50px 30px;
  width: 500px;
  height: 200px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  text-align: center;
  transition: 0.5s ease;
}

.education div:hover {
  transform: scale(1.01);
}

.education div h3 {
  font-size: 2.3rem;
  color: var(--h3-text-color);
}

.education div p {
  font-size: var(--normal-font-size);
  margin-top: 20px;
}

/* skills section */
.skills {
  background-color: var(--secent-bg-color);

}

.skills div{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-self: center;
  margin-top: 50px;
  width: 1100px;
}

.skills div div {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 120px;
  width: 120px;
  background-color: var(--first-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 15px;
  transition: 0.5s ease;
}

.skills div div:hover {
  transform: scale(1.1);
}

.skills div div i {
  font-size: 3rem;
}

.c-logo{
  color: blue;
}

.html-logo{
  color: #E34C26;
}

.css-logo{
  color: #663399;
}

.js-logo{
  color: #F7DF1E;
}

.sql-logo{
  color: #00758F;
}

.skills div div p {
  margin-top: 20px;
  font-size: 1rem;
}

/* projects section */
.projects div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  background-color: var(--secent-bg-color);
  margin-top: 50px;
  padding: 50px 30px;
  width: 500px;
  height: 100px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  text-align: center;
  font-size: var(--normal-font-size);
  transition: 0.5s ease;
}

.projects div:hover {
  transform: scale(1.01);
}

/* contact section */
.contact {
  background-color: var(--secent-bg-color);
}

.social-media-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  background-color: var(--first-bg-color);
  margin-top: 50px;
  padding: 50px 30px;
  width: 500px;
  height: 100px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  font-size: 1.5rem;
  transition: 0.5s ease;
}

.social-media-container:hover {
  transform: scale(1.01);
}

.social-media-container h3 {
  font-size: 2.3rem;
  color: var(--h3-text-color);
}

.social-media-links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 20px;
}

.social-media-links a i{
  color: var(--text-color);
  cursor: pointer;
  transition: 0.5s ease;
}

.social-media-links a i:hover {
  color: var(--secent-hover-color);
}

/* footer section */
footer {
  text-align: center;
  padding: 10px 0px;
}

footer p {
  color: var(--text-color);
}

/* make responsive */
@media (max-width: 1200px) {
  .home{
    height: auto;
    padding-bottom: 90px;
    grid-template-columns: 1fr;
    row-gap: 20px;
    text-align: center;
    padding-top: 150px;
  }

  

  .home div .greetings {
    font-size: 3.5rem;
  }

  .home div h1 {
    font-size: 3.5rem;
  }

  .home div .description{
    font-size: 1.4rem;
  }

  .my-photo {
    width: 450px;
  }

  section h2{
    font-size: 3rem;
  }

  .about div{
    width: 90vw;
    font-size: 1rem;
    padding: 30px 2vw;
  }

  .education div h3 {
    font-size: 2rem;
  }

  .skills div{
    width: 90vw;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
  }

  .social-media-container h3 {
  font-size: 2rem;
  }
}

/* for tablets and small screens */
@media (max-width: 900px) {
  header{
    left: 15px;
    right: 15px;
  }

  header i {
    position: relative;
    display: block;
    visibility: visible;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
  }

  header nav {
    display: none;
    visibility: hidden;
  }

  .navigation-menu {
    visibility: visible;
    position: absolute;
    right: 0px;
    top: 60px;
    padding: 5px 20px 5px 10px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(12, 23, 38, 0.7);
  }

  .skills div{
    grid-template-columns: repeat(3, 1fr);
  }

  .skills div div {
    width: 100px;
    height: 100px;
  }

  .skills div div i {
    font-size: 2.7rem;
  }
}

/* for mobile devices */
@media (max-width: 600px) {
  header{
    left: 10px;
    right: 10px;
  }

  header i {
    font-size: 1.2rem;
  }

  .portfolio{
    font-size: 1.2rem; 
  }

  .home div .greetings {
    font-size: 8.5vw;
  }

  .home div h1 {
    font-size: 9.5vw;
  }

  .home div .description{
    font-size: 4.3vw;
  }

  .social-media-in-body {
    width: 200px;
    font-size: 1.2rem;
  }

  .my-photo {
    width: 75vw;
  }

  section h2{
    font-size: 2rem;
  }

  .about div{
    padding: 20px 2vw;
    font-size: 0.9rem;
  }

  .education div{
    width: 90vw;
    padding: 30px 2vw;
  }

  .education div h3 {
    font-size: 1.6rem;
  }

  .education div p {
    font-size: 1rem;
  }

  .skills div{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 0px;
    width: 90vw;
  }

  .skills div div {
    width: 90px;
    height: 90px;
  }

  .skills div div i {
    font-size: 2.3rem;
  }

  .projects div {
    width: 90vw;
    padding: 30px 2vw;
    font-size: 1rem;
  }

  .social-media-container{
    width: 90vw;
    padding: 30px 2vw;
  }

  .social-media-container h3 {
    font-size: 1.6rem;
  }

  .social-media-links a {
    font-size: 1.2rem;
  }

  footer p {
    font-size: 0.7rem;
  }
}