.about-text-container {
  margin-top: var(--spacing-large);
  font-size: var(--font-size-medium);
  line-height: 1.6;
  display: flex;
  gap: 1px;
}

.about-text-container p {
  color: var(--fifth-color);
  padding: var(--spacing-large);
  text-align: left;
  flex: 1;
}

@media (max-width: 768px) {
  .about-text-container {
    flex-direction: column;
    width: 100%;
  }

  .about-text-container p {
    padding: var(--spacing-medium);
  }
}