/* default ghanges */
*{
  margin: 0;
  padding: 0;
  background-color: none;
  font-family: "Zalando Sans Expanded", Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  color: var(--text-color);
  scroll-behavior: smooth;
}

:root{
  /* colors */
  --first-color: #EAEFEF;
  --second-color: #BFC9D1;
  --third-color: #25343F;
  --fourth-color: #FF9B51;
}