/* default ghanges */
*{
  margin: 0;
  padding: 0;
  background-color: none;
  font-family: "Zalando Sans Expanded", Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  color: var(--third-color);
  scroll-behavior: smooth;
  font-weight: 200;
  box-sizing: border-box;
}

:root{
  /* colors */
  --first-color: #EAEFEF;
  --second-color: #BFC9D1;
  --third-color: #25343F;
  --fourth-color: #FF9B51;

  /* spacing */
  --spacing-small: 0.25rem;
  --spacing-medium: 0.5rem;
  --spacing-large: 1rem;
  --spacing-xlarge: 2rem;

  /* font sizes */
  --font-size-small: 0.75rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2.5rem;
}

/* global */
body{
  background-color: var(--first-color);
}

section {
  padding: var(--spacing-xlarge) 0;
}

h1 {
  font-size: var(--font-size-xlarge);
}

h2 {
  font-size: var(--font-size-large);
  text-align: center;
}

h2 span {
  color: var(--fourth-color);
}